.wrapper {
    .container {
        background-image: url('../../public/images/home-bg.webp');
        background-repeat: no-repeat;
        background-position: center;
    
        .main {
            max-width: 1520px;
            margin: 0 auto;
            padding: 0 2.5%;
    
            display: flex;
            justify-content: space-between;
            align-items: bottom;
    
            margin-top: 200px;
            padding-bottom: 150px;
    
            .introductionText {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                text-align: center;
    
                h1 {
                    margin-top: 20px;
                    margin-bottom: 10px;
    
                    font-weight: 700;

                    span {
                        @media (max-width: 720px) {
                            background: var(--white);
                        }
                    }

                    @media (max-width: 720px) {
                        font-size: 1.8rem;
                        line-height: 2.5rem;
                    }

                    @media (min-width: 720px) {
                        font-size: 3rem;
                        line-height: 3rem;
                    }

                    @media (min-width: 1300px) {
                        font-size: 3.125rem;
                        line-height: 61px;
                    }
                }
    
                h3 {
                    font-weight: 300;
                    font-size: 1.5rem;
                    margin-top: 20px;
                    
                    span {
                        @media (max-width: 720px) {
                            background: var(--white);
                        }
                    }

                    @media (max-width: 720px) {
                        font-size: 1.1rem;
                        line-height: 1.6rem;
                    }
                }

                .subtitleBackground {
                    height: 40px;
                    width: 100%;
                    
                    background: transparent;

                    @media (max-width: 720px) {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        height: 30px;

                        margin-bottom: 10px;

                        background: var(--white);
                    }
                }
    
                @media (max-width: 720px) {
                    margin-bottom: 30px;

                    img {
                        width: 70%;
                    }
                }
            }
    
            @media (max-width: 720px) {
                flex-direction: column;
                padding-bottom: 20px;
                align-items: center;
                margin: 0;
                padding: 20px 0;
            }
        }
    }

    @media (max-width: 720px) {
        overflow-x: hidden;
    }
}