.container {
    max-width: 1820px;
    margin: 0 auto;
    padding: 27px 60px;

    background: transparent;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-left: 50px;

            button {
                font-weight: normal;
                font-size: 1.125rem;
                line-height: 1.375rem;
                text-align: center;
                margin-right: 50px;

                background: transparent;
                outline: none;
                border: none;

                color: var(--gray-400);
            
                transition: filter 0.2s;
            }

            & button:hover {
                filter: brightness(1.5)
            }
        }

        .headerButton {
            width: 155px;
            height: 35px;

            border: none;
            outline: none;

            border-radius: 1rem;
            color: var(--white);
            background-color: var(--yellow-500);

            transition: filter 0.2s;
        }

        & .headerButton:hover {
            filter: brightness(0.8)
        }
    }

    @media (max-width: 720px) {
        display: none;
    }
}